* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styling the main container */
.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: lightblue; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color:black;
}
input {
  margin-top: 50px;
  padding: 5px;
  font-size: 20px; /* Light gray border */
  border-radius: 5px;
}

h2 {
  background-color: red;
}


.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: orange;

  padding: 10px;
  font-size: 1em;
}
.nav a:link,
.nav a:visited {
  text-decoration: none;
  color:red;
  
}
.nav a:hover {
  color:bisque;
}
p {
  font-style: italic;
  color: blue;
}