* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
  text-align: center;
}

body {
  font-family: "Rubik", sans-serif;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/65a65d5c-b4f6-4e4b-817e-9011e62928e1/defkbhr-32bcfba6-235e-4998-8451-9ff7eee3699c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY1YTY1ZDVjLWI0ZjYtNGU0Yi04MTdlLTkwMTFlNjI5MjhlMVwvZGVma2Joci0zMmJjZmJhNi0yMzVlLTQ5OTgtODQ1MS05ZmY3ZWVlMzY5OWMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-h12osmJ9eZ1rGn3Om6-OlVu7_Fn-GDhuGuAy0a6lMQ);
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

p {
  line-height: 1.5rem;
  padding: 1rem;
}
